@model Arima.Identity.Ui.Models.UserRoleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admisnitração das Roles do Usuário</h1>
<hr />
<div class="row">
    <div>
        User: @Html.DisplayFor(model => model.user.UserName)
    </div>
</div>
<div class="row">
    <table class="table col-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Roles do User")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.roles != null)
            {
                @foreach (var item in Model.roles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.ActionLink("Remover", "Remover", new { id = item.Id, UserId = Model.user.Id })
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="col-2">
    </div>
    <table class="table col-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Roles")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.rolesParaAdicionar)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Adicionar", "Adicionar", new { id = item.Id, UserId = Model.user.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

